<div style="min-height: 5%;"></div>

<div class="container text-light">
    <form class="row align-items-center g-3" [formGroup]="getConnectionStringForm" (ngSubmit)="onLoad()"
        autocomplete="off" novalidate>
        <div class="col-lg-2 col-12">
            <label for="connectionString" class="form-label text-info fw-bolder">SQL Server Connection :</label>
        </div>

        <div class="col-lg-7 col-12 text-light">
            <select class="form-select" id="connectionString" formControlName="connectionStringId">
                <div
                    *ngIf="(maskedConnectionStrings.length !== 0); then displayConnectionStrings else displayNoConnectionStrings">
                </div>
                <ng-template #displayConnectionStrings>
                    <option value="" disabled selected>Select a connection string . . .</option>
                    <option *ngFor="let connectionString of maskedConnectionStrings; let i = index;" [value]="i">
                        {{connectionString}}</option>
                </ng-template>
                <ng-template #displayNoConnectionStrings>
                    <option value="None">No connection strings to select</option>
                </ng-template>
            </select>
        </div>

        <div class="col-lg-3 col-12 text-center">
            <button type="submit" class="btn btn-primary me-4"
                [disabled]="!getConnectionStringForm.value.connectionStringId">Load</button>
            <button type="button" class="btn btn-sm btn-outline-success ms-4" [disabled]="tableHeaders.length == 0"
                (click)="onAddNewRow()" title="Add new row to the current table" data-bs-toggle="modal"
                data-bs-target="#updateTableFormModal">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-plus-square mb-1 me-1" viewBox="0 0 16 16">
                    <path
                        d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                    <path
                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                </svg>
                New Row
            </button>
        </div>
    </form>
</div>

<div class="container mt-4">
    <div class="row g-3" style="height: 500px; border-collapse: collapse;">
        <div class="col-lg-3 border rounded d-flex align-items-center justify-content-center py-4">
            <div style="width: 95%; max-height: 450px; overflow: auto;">
                <table class="table table-dark table-responsive table-bordered table-hover" id="tableNames"
                    style="cursor: pointer;">
                    <tbody>
                        <ng-container *ngFor="let tableName of tableNames; let i = index">
                            <tr (click)="onTableNameSelected(tableName, i)">
                                <td>{{tableName}}</td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-9 border rounded d-flex align-items-center justify-content-center py-4">
            <div style="width: 99%; height: 450px; overflow: auto;">
                <div class="d-flex justify-content-center" *ngIf="tableHeaders.length != 0">
                    <div class="mb-3 col-lg-6 text-light">
                        <input type="text" class="form-control" id="floatingInput" [(ngModel)]="filterText"
                            placeholder="Filter">
                    </div>
                </div>
                <table class="table table-dark table-responsive table-bordered table-hover text-light" matSort
                    (matSortChange)="sortData($event)">
                    <thead class="text-center" *ngIf="tableHeaders.length != 0">
                        <tr>
                            <th style="width: 4%;"></th>
                            <ng-container *ngFor="let columnName of tableHeaders">
                                <th class="text-info" [ngClass]="{'text-danger': columnName==identityColumnName}"
                                    mat-sort-header="{{columnName}}">
                                    {{columnName}}</th>
                            </ng-container>
                        </tr>
                    </thead>
                    <tbody *ngIf="tableRows.length != 0">
                        <tr *ngFor="let tableRow of tableRows | filter : filterText">
                            <td>
                                <button type="button" class="btn btn-sm text-info p-0" title="Edit Row Values"
                                    (click)="onEditRow(tableRow)" data-bs-toggle="modal"
                                    data-bs-target="#updateTableFormModal">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-pencil-square mb-1" viewBox="0 0 16 16">
                                        <path
                                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                        <path fill-rule="evenodd"
                                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                    </svg>
                                </button>
                            </td>
                            <ng-container *ngFor="let cellValue of tableRow">
                                <td>{{cellValue}}</td>
                            </ng-container>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="updateTableFormModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="updateTableFormTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark text-light">
            <form [formGroup]="updateTableForm" (ngSubmit)="onModalFormSubmit()" autocomplete="off" novalidate>
                <div class="modal-header">
                    <h5 class="modal-title" id="updateTableFormTitle">{{isEditTableRow ? 'Edit' : 'Add'}}
                        Table Row</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row g-3">
                        <div class="col-12" *ngFor="let columnName of tableHeaders">
                            <label [for]="columnName" class="form-label fw-bolder text-info"
                                [ngClass]="{'text-danger': columnName==identityColumnName}">{{columnName}}</label>
                            <input type="text" class="form-control" [id]="columnName" [formControlName]="columnName"
                                [readonly]="columnName==identityColumnName"
                                [hidden]="columnName==identityColumnName && !isEditTableRow">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="closeUpdateTableFormModal"
                        data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>