input, input:read-only, select {
    background-color: inherit;
    color: white;
}

input:focus {
    /* background-color: rgb(245, 245, 245, 0.4); */
    background-color: inherit;
    color: white;
    border: 1px solid #719ECE;
    box-shadow: 0 0 4px #719ECE;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #0d1117 inset !important;
    box-shadow: 0 0 0 30px #0d1117 inset !important;
    -webkit-text-fill-color: white !important;
    /* transition: background-color 5000s ease-in-out 0s; */
    transition-duration: 0ms;
    caret-color: white;
}

::ng-deep .mat-sort-header-container {
    justify-content: center !important;
}

option {
    background-color: #161B22;
}

.form-select {
    background-blend-mode: screen;
}